*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 226, 226);
}

.caja{
    margin: auto;
    margin-top: 60px;
    width: 800px;
    height: 600px;
    border-radius: 15px;
    background-color: rgb(13, 78, 56);
}

.titulo{
    margin: auto;
    padding-top: 28px;
    width: 400px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 78, 56);
}

.parrafo{
    padding-top: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 78, 56);
}

form{
    margin: auto;
    padding-top: 30px;
    width: 90%;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 78, 56);
}

input{
    margin-bottom: 20px;
    width: 700px;
    height: 30px;
}

p{
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 78, 56);
}

.mensaje{
    height: 80px;
}

.boton{
    color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    background-color: rgb(6, 37, 26);
}

.boton:hover{
    color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    background-color: rgb(15, 56, 42);
}